#info {
    background: #333;
    color: aliceblue;
    text-align: center;
}
#info .contenedor{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-isp{
    margin: 20px;  
}

.info-isp img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}